<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../assets/css/inter.css" />
    <link rel="stylesheet" href="../assets/css/gui.css" />
    <link rel="stylesheet" href="../assets/css/layout.css" />
    <link rel="stylesheet" href="./privacy.css" />
  </head>
  <body>
    <%- include('partials/pageHeader') %>
    <div id="contents">
      <div id="sidebar">
        <div class="stmt">
          <%= title %>
        </div>
      </div>
      <div id="list">
        <!-- Generated content from docs/privacy-policy.md --><%- content %>
        <!-- End generated content -->

        <%- include('partials/pageFooter') %>
      </div>
      <div id="clear"></div>
    </div>
  </body>
</html>
